.display-5{
	font-size: 2.5rem;
}

.display-6{
	font-size: 1.6rem;
}

.display-7{
  font-size: 1.2rem;
}

.display-8{
  font-size: 0.8rem;
}

.h7{
  font-size: 0.6rem;
}

.slider{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 3px;
  width: 100%;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.slider:hover{
	opacity: 0.7;
}

.media-detail{
  overflow: hidden;
  white-space: nowrap;
}

.flowing {
  position: relative;
  animation: 3s linear 0s infinite alternate flowing;
}

@keyframes flowing {
  0%, 25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}
